html{
    background: #F5DEB3;
}


body{
    background: #F5DEB3;
    color: black;
    font: Cosmic Sans, arial, verdana, courier;
}

hr{
    color: black;
}

center{
    font: #FFFFFF;
}
Bottom{
  font: 22px Arial, Helvetica, sans-serif;
}
